name: CI

on:
  push:
  pull_request:

env:
  HUSKY: 0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.1.29
      - run: bun install
      - run: bun run lint
      - run: bun run format:check
      - run: bun run test
